{% extends "layout-admin.html" %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                {% if messages %}
                    {% for key,value in messages %}
                        <div class="alert alert-{{ key }}">{{ value }}</div>
                    {% endfor %}
                {% endif %}
                <a class="btn btn-default" href="/users/posts/new">New post</a>
                <table class="table table-striped" >
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for post in posts %}
                        <tr>
                            <td>{{ post.id }}</td>
                            <td><a href="/users/posts/{{ post.id }}">{{ post.title }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {#{{ totalPage | pagination(currentPage) | safe }}#}
            </div>
        </div>
    </div>
{% endblock %}