{% extends "layout-admin.html" %}
{% block cssExtends %}
    <link href="/Trumbowyg-master/dist/ui/trumbowyg.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                {% if errors %}
                    {% for error in errors %}
                        <div class="alert alert-danger">{{ error.msg }}</div>
                    {% endfor %}
                {% endif %}
                {% for error in errors %}
                {% if delete %}
                    <form method="POST" action="?_method=DELETE">
                        <button class="btn btn-danger pull-right" type="submit">Delete</button>
                    </form>
                {% endif %}
                <form method="POST">
                    <div class="form-group">
                        <a class="btn btn-default" href="/list">Back</a>
                        <button class="btn btn-default" type="submit">Save</button>
                    </div>
                    <div class="form-group">
                        Title: <input name="title" class="input-group" style="width: 100%" value="{{ title }}"/>
                    </div>
                    <div class="form-group">
                        Description:
                        <div id="post-description">{{ description }}</div>
                    </div>
                    <div class="form-group">
                        Content:
                        <div id="post-content">{{ content }}</div>
                    </div>
                </form>

            </div>
        </div>
    </div>


{% endblock %}
{% block jsExtends %}
    <script src="/Trumbowyg-master/dist/trumbowyg.min.js"></script>
    <script>
        $(function () {
            $('#post-description').trumbowyg();
            $('#post-content').trumbowyg();
        })
    </script>
{% endblock %}